
table, td, thead, tr {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead, tr {
  text-align: center;
  padding: 5px;
}

.false_button{
  background: url("../images/checked.png") center no-repeat;
  height: 25px;
  width: 25px;
  border: none;
}
.true_button{
  background: url("../images/unchecked.png") center no-repeat;
  height: 25px;
  width: 25px;
  border: none;
}

.delete{
  background: url("../images/cyberman.png") center no-repeat;
  height: 25px;
  width: 33px;
  border: none;
}

.false{
  text-decoration: line-through
}

#first {
  width : 750px;
  text-align: left;
}

body {
  text-align: center;
}

.dialog {
  background: red;
   opacity: .30;
   filter: Alpha(Opacity=30);
}

.ui-dialog{
  background:url('../images/danger.jpg' ) center no-repeat;
  }​
  modal {
    height: 75%;
  }
