/*document appearence*/
body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#new_task{
  width: 300px;
}

#due{
  width: 60px;
}
/*table appearence*/
table, td, thead, tr {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead, tr {
  text-align: center;
  padding: 5px;
}
.time_left{
  width : 75px;
}
.delete{
  background: url("../images/cyberman.png") center no-repeat;
  height: 25px;
  width: 33px;
  border: none;
}

.completed{
  text-decoration: line-through;
  background: green;
}

.new{
  background: white;
}

.aging{
  background: yellow;
}

.due{
  background: red;
}

.first {
  width : 750px;
  text-align: left;
}

/*table buttons*/
.false_button{
  background: url("../images/checked.png") center no-repeat;
  height: 25px;
  width: 25px;
  border: none;
}
.true_button{
  background: url("../images/unchecked.png") center no-repeat;
  height: 25px;
  width: 25px;
  border: none;
}

/*warning appearence*/
.ui-dialog{
  height: 100%;
  vertical-align: text-bottom;
  }​
